.app__footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light-tan2);
}

.divider {
    margin: 20px ;
    width: 100%;
    flex-grow: 1;
    border-bottom: 2px solid var(--color-grey);
 }