@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Neuton', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-black: hsl(180, 71%, 1%);
  --color-gray: hsl(0, 0%, 50%);
  --color-grey: hsl(0, 0%, 70%);
  --color-white: hsl(0, 0%, 100%);
  --color-cyan: hsl(187, 73%, 39%);
  --color-light-cyan: hsl(187, 73%, 50%);
  --color-dark-cyan: hsl(187, 73%, 25%);
  --color-light-tan: hsl(47, 47%, 92%);
  --color-light-tan2: hsl(47, 47%, 95%);
  --color-dark-tan: hsl(47, 47%, 50%);
  --color-sand: hsl(53, 21%, 41%);
  --color-transparent: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
